html,
body,
#root {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

#main-content {
  flex: 1 0 auto;
}

#filename-wizard-output {
  user-select: all;
  -moz-user-select: all;
  max-width: 100%;
  overflow-x: scroll;
}


/* Loading Indicator */

.loading-skeleton:after {
  content: "File processing...";
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  width: 100%;
  height: 300px;
  margin-top: 10px;
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
  position: relative;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}


/* USDWS Discrepency Fixes */

.usa-footer {
  overflow: inherit;
}

.usa-header--basic .usa-navbar {
  width: 100%;
}

.usa-footer--slim .usa-footer__logo-img {
  width: 10rem;
  max-width: 10rem;
}

.usa-file-input {
  max-width: unset;
  width: 100%;
}
